* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a {
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* CSS Reset Ends */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@400;500&display=swap');

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #E78819;
}

#root {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

#root nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  background-color: #E78819;
  z-index: 3;
  padding: 15px;
}

#root nav i {
  margin-right: 20px;
}

#root nav h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  margin-right: 20px;
}

#root nav button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  background-color: rgb(231, 33, 25);
  color: white;
  border: 1px solid white;
}

#root nav button:hover {
  background-color: black;
  border: 0;
}

#root .foam {
  width: 100%;
}

#root h1 {
  position: absolute;
  top: 454px;
  padding: 0 300px;
  text-align: center;
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
  opacity: 0.8;
  text-shadow: 6px 6px 10px rgba(0,0,0,0.5);
  z-index: -1;
}

#root .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 200px;
}

#root .container .card {
  padding: 10px 0;
  margin: 100px 110px 50px 110px;
  line-height: 30px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

#root .container .card img {
  transform: rotate(0deg);
  padding-left: 0;
  transition: 0.25s ease-out;
}

#root .container .card:hover {
  box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
  border-radius: 10px;
  background-color: #e7810d
}

#root .container .card:hover img {
  padding-left: 10px;
  transform: rotate(12deg);
  transition: 0.25s ease-in;
}

#root .container .card button {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  background-color: black;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

#root .container .card button:hover {
  background-color: #CC0B2D;
  border: 1px solid white;
}

#root .beer-mug {
  position: absolute;
  width: 511px;
  height: 368px;
  bottom: 188px;
  right: 0;
}

#root .footer {
  width: 100%;
  height: 50px;
  padding: 18px 0;
  background-color: black;
  color: white;
}

#root .footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

#root .footer div i {
  cursor: pointer;
}